@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer utilities {
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  *::-webkit-scrollbar {
    display: none;
  }
  body {
    background: #0a0a0a;
  }
}

@layer base {
  :root {
    --color-primary: rgb(220, 255, 80);
    --color-secondary: rgb(102, 86, 251);
  }

  .noise {
    animation: noise-animation 0.25s infinite;
    background-image: url('/static/img/noise.png');
    background-repeat: repeat;
    inset: -50%;
    height: 200vh;
    width: 200%;
    pointer-events: none;
    position: fixed;
    z-index: 999999;
  }

  .mask {
    mask-image: url('./public/mask.svg');
    mask-repeat: no-repeat;
    mask-size: 64px;
    background: var(--color-primary);
    position: absolute;
  }

  .cursor,
  .cursorLabel {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #455ce9;
    color: white;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;
  }

  .linkContainer {
    perspective: 192px;
    perspective-origin: bottom;
  }
}

@keyframes noise-animation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(-5%, -5%, 0);
  }
  20% {
    transform: translate3d(-10%, 5%, 0);
  }
  30% {
    transform: translate3d(5%, -10%, 0);
  }
  40% {
    transform: translate3d(-5%, 15%, 0);
  }
  50% {
    transform: translate3d(-10%, 5%, 0);
  }
  60% {
    transform: translate3d(15%, 0);
  }
  70% {
    transform: translate3d(15%, 15%, 0);
  }
  80% {
    transform: translate3d(10%, 5%, 0);
  }
  90% {
    transform: translate3d(5%, 10%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
